<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>

  <connectionStrings>
    <add name="Cadena" connectionString="Server=.; Database=BDMega;Integrated Security=true"/>
    <!--<add name="Cadena" providerName="System.Data.SqlClient"
         connectionString="Data Source=(local);Initial Catalog=BDMega;User ID=sa;Password=BaseDeDatos2015"/>-->
  </connectionStrings>


</configuration>
